.col-md-1{
    width:5%;
}

.logo {
   width: 345px;
   height: 85px;
}

.spacing {
    margin-left: 40%;
}

body {
    font-family: "Lato", sans-serif;
}
.navbar-yellow
{
    background: #fdde34;
}
.nav-menu-color a
{
    color: #444;
}
.nav-menu-color a:hover
{
    color: #333;
    cursor: pointer;
}
.sidenav
{
    top: 0px;
}
.large-top
{
    margin-top: 0%;
}