/* body {
    font-family: "Lato", sans-serif;
}



.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 10px 30px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 30;
        left: 0;
    }

    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 500;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}

.form-control {
    margin-top: 15px;
}

.form-check {
    margin-top: 15px;
}

.custom-file-label{
    margin-top: 15px;
}

.btn-black {
    margin-top: 10px;
    margin-left: 20px;
}

/* .btn-danger {
    margin-top: 10px;
    margin-left: 5px;
} */

/* .btn-secondary {
    margin-left: 10px;
    margin-top: 20px;
}  */